.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    /* Dark overlay */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 45%;
    overflow: hidden;
    height: 0;
    animation: expandHeight 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes expandHeight {
    from {
        height: 0;
    }

    99% {
        height: 120px;
    }

    to {
        height: auto;
    }
}


.main-title {
    font-size: 2rem;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.nav-links {
    padding-top: 30px;
    display: flex;
}

.actionButton {
    margin: 0 10px;
    font-size: 1rem;
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.actionButton:hover {
    background-color: white;
    color: black;
}

.profile-picture {
    width: 150px;
    /* Set the desired size */
    height: 150px;
    /* Make height the same as width */
    border-radius: 50%;
    /* Make it a circle */
    object-fit: cover;
    /* Ensure the image scales nicely within the circle */
    border: 2px solid white;
    /* Optional: Add a white border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for a 3D effect */
}

.verticalLine {
    width: 0;
    height: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
    animation: lineHeight 2s ease-in-out forwards;
    animation-delay: 0.8s;
}

@keyframes lineHeight {
    from {
        height: 0;
    }

    99% {
        height: 69px;
    }

    to {
        height: 70px;
    }
}